[data-abide] .error small.error, 
[data-abide] .error span.error, 
[data-abide] span.error, 
[data-abide] small.error,
small.error,
span.error {
	background: $primary-1;
}

.error label, 
.error label.error{
	color: $primary-1;
}

.error-page-holder{
	text-align: center;
}

.error-page-image{
	height: 20rem;
	margin: 5rem auto;
	display: inline-block;
}

.error-page-title{
	font-size: 2.5rem;
	font-weight: 100;
	font-family: "Work Sans";
	display: inline-block;
}