.big_btn {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    color: #fff;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }
  [data-whatinput='mouse'] .big_btn {
    outline: 0;
  }
  .big_btn:hover {
      color: #fff;
  }
.red_btn {
    background-color: #e7173e;
    border: 3px solid #e7173e;
}
.red_btn:hover {
    border: 3px solid #fff;
    background-color: #e7173e;
}
.white_btn{
    border: 3px solid #fff;
    background-color: transparent;
}
.white_btn:hover {
    border: 3px solid #e7173e;
    background-color: transparent;
}
.white_btn, .red_btn {
    position: relative;
}
.facebook_btn {
    background-color: #3b5998;
}
.facebook_btn:hover {
    background-color: #2f477a;
    color: #fff;
}
.login_btn {
    background-color: #e7173e;
}
.login_btn:hover {
    background-color: #e7173e;
}
  
  

