%button{
    @include button;
    margin: 0;
    border-radius: 3px;
    font-weight: 700;
    transition: background-color 0.25s ease-out, color 0.25s ease-out, border 0.25s ease-out;
    background-color: $primary-1;
    border: 2px solid $primary-1;
    padding: 10px 25px;
    font-size: 16px;
    outline: none;
    text-decoration: none;

    &:hover{
        background-color: darken($primary-1, 5%);
        border: 2px solid darken($primary-1, 5%);
    }

    &:active, &:focus{
        background-color: $primary-1;
        border: 2px solid $primary-1;
    }
}

input[type="submit"], .button{
    @extend %button;
}

.big_btn {
    @extend %button;
    display: inline-block;
    vertical-align: middle;
    padding: 0.65em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    color: #fff;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

[data-whatinput='mouse'] .big_btn {
    outline: 0;
}

.big_btn:hover {
    color: #fff;
}

.red_ghost{
    @extend %button;
    background-color: transparent;
    border-color: $primary-1;
    color: $primary-1;

    &:hover{
        background-color: $primary-1;
        border-color: $primary-1;
        color: white;
    }
}

.white_btn{
    @extend %button;
    border: 2px solid #fff;
    background-color: transparent;
}

.white_btn:hover {
    background-color: white;
    border: 2px solid #fff;
    color: black;
}

.white_btn, .red_btn {
    position: relative;
}

.facebook_btn {
    @extend %button;
    background-color: $facebook-color;
}

.facebook_btn:hover {
    background-color: #2f477a;
    color: #fff;
}

.login_btn {
    @extend %button;
    background-color: $primary-1;
}

.login_btn:hover {
    background-color: $primary-1;
}
#reservation_btn {
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: rgba(0,0,0,0.3); /* Black background with opacity */
    border-style: none;
    margin-top:56px;
}
#reservation_btn:hover {
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    border-style: none;
    margin-top:56px;
}

  
  

