html, body{
	margin: 0; padding: 0;
}

body{
	
	background: $body-color;
	font-family: $font-secondary;

	color: $body-font-color;
}

.vertical-align{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: right;
}

/**
* General padding/margin classes
*/
.no-margin{
	margin: 0;
}

.no-margin-top{
	margin-top: 0;
}

.no-padding{
	padding: 0;
}

.no-padding-top{
	padding-top: 0;
}

.general-padding{
	padding: 1.5rem;
}

.general-padding-small{
	padding: 0.975rem;
}

/**
* General utility classes
*/

.visible{
	display: block;
}

.clearfix{
	@include clearfix;
}

/**
* Classes for color management
*/
.hidden{
	visibility: hidden;
}

.white{
	color: white;
}

.red_text {
    color: $primary-1;
}

.float-right{
	float: right;
}

.search-row-correction{
	margin-top: 5px;
}

a:active, a:focus{
	color: $secondary-2;
}	

.price_container {
	background-color: $primary-1;
	padding: 0.975rem;
	height: 280px;
}
.price_text, .price_text_description {
	color: #fff;
	margin: 0.975rem;
}
.price_text{
	font-size: 4rem;
}
.price_text_description{
	font-size: 1.8rem;
}
.date_container {
	background-color: #000;
	height: 280px;
	padding: 0.975rem;
}
.date_label {
	color: #fff;
	text-transform: uppercase;
}

.price_container, .date_container{
	@media screen and(max-width: 800px){
		padding: 0.975rem;
		margin-left: 0;
		height: auto;
	}
}

.search-fail{
	text-align: center;
	font-weight: 100;
	color: $secondary-5;
	padding: 100px 0px;
}

#map{
	height: 250px;
}

/**
* Custom column styling
*/ 
.column
.columns{
	padding: 1rem 1rem;
}