html, body{
	margin: 0; padding: 0;
}

body{
	
	background: $body-color;
	font-family: $font-secondary;

	color: $body-font-color;
}

.container{
	margin: 50px auto;
	width: 1020px;
}

.clearfix{
	@include clearfix;
}

.float-right{
	float: right;
}

a:active, a:focus{
	color: $secondary-2;
}	