html, body{
	margin: 0; padding: 0;
}

body{
	
	background: $body-color;
	font-family: $font-secondary;

	color: $body-font-color;
}

.vertical-align{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: right;
}

.visible{
	display: block;
}

.white{
	color: white;
}

%container{
	margin: 50px auto;
	max-width: 1020px;
	animation-name: container-animation;
	animation-duration: 0.5s;
	box-sizing: border-box;
	overflow: hidden;

	@media screen and(max-width: 800px)
	{
		margin: 0.975rem auto;
	}
}

.container{
	@extend %container;
}

.container-small{
	@extend %container;
	max-width: 400px;
}

.container-white {
    padding: 0.975rem;
    margin: 0.975rem;
	background-color: #fff;
	border-radius: 6px;
	border: 1px solid $secondary-3;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	overflow: hidden;

	@media screen and(max-width: 800px){
		margin: 0;
		padding: 0;
		padding-bottom: 1rem;
	}

	&-show{
		padding-right: 0;
	}

	&-tabs{
		margin: 0rem;
		border-radius: 0px 6px 6px 6px;
		position: relative;
		z-index: 1;
	}
}

.clearfix{
	@include clearfix;
}

.float-right{
	float: right;
}

.search-row-correction{
	margin-top: 5px;
}

a:active, a:focus{
	color: $secondary-2;
}	


.cell {
    float: left;
    padding:10px;
}
.price_container {
	background-color: $primary-1;
	padding: 0.975rem;
	margin-top: -0.975rem;
	height: 280px;
}
.price_text, .price_text_description {
	color: #fff;
	margin: 0.975rem;
}
.price_text{
	font-size: 4rem;
}
.price_text_description{
	font-size: 1.8rem;
}
.date_container {
	background-color: #000;
	height: 280px;
	margin-top: -0.975rem;
	margin-right: -0.975rem;
}
.date_label {
	color: #fff;
	text-transform: uppercase;
}

.price_container, .date_container{
	@media screen and(max-width: 800px){
		padding: 0.975rem;
		margin-left: 0;
		height: auto;
	}
}

.search-fail{
	text-align: center;
	font-weight: 100;
	color: $secondary-5;
	padding: 100px 0px;
}

.map-show{
	padding: 10px 5px 5px 5px;
}