h1{
	font-weight: 700;
}

h2 {
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5{
	font-family: $font-primary;
	color: $secondary-1;
}

.lander_headers{
	color: white;
    padding: 0;
    font-family: $font-primary;
}

.call_to_action_wrapper{
	h1, h2{
		@extend .lander_headers;
	}
}

.top-bar{
	h1{
		@extend .lander_headers;
	}
}
