
.lander-bg{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
    url("/assets/graphics/lander_background.jpg");
    background-size: cover;
}

.lander-button-group{
    padding: 1.5rem 0;

    a{
        margin: 0.4rem 0.2rem;
    }
}




