<<<<<<< HEAD
.body_lander {
=======
.lander-bg{
>>>>>>> fbf5a9d16056b429d268894b7139b30c232161a9
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),
    url("/assets/graphics/lander_background.jpg");
}

.call_to_action_wrapper {
    text-align: center;
    top: 30%;
    position: relative;
    width: 60%;
    left: 20%;
}


