
.body_master {
    background-color:black;
}

.container-white {
    background-color:white;
    padding: 20px;
}

#search_input {
    height:40px;
}
.h2_over_image, .h2_over_image_small {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    padding: 10px;

    &_small {
        font-size: 0.8rem;
        top: 10px;
        left: 10px;
    }
}