
.body_master {
    background-color:black;
}

.orbit-show-page {
  margin: 1.5rem -0.65rem 0rem -1.975rem;
}

// .h2_over_image, .h2_over_image_small {
//     position: absolute;
//     top: 20px;
//     left: 20px;
//     color: #fff;
//     padding: 10px;

//     &_small {
//         font-size: 0.8rem;
//         top: 10px;
//         left: 10px;
//     }
// }
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 250px;
      }
      .controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        margin-left: 17px;
        margin-top: 10px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      .controls:focus {
        border-color: #4d90fe;
      }
      .title {
        font-weight: bold;
      }
      #infowindow-content {
        display: none;
      }
      #map #infowindow-content {
        display: inline;
      }

      .red_text {
          color: $primary-1;
      }

      [data-abide] .error small.error, [data-abide] .error span.error, [data-abide] span.error, [data-abide] small.error {
        background-color: $primary-1;
      }
      .error label, .error label.error {
          color: $primary-1;
      }