.top-bar-item {
    float:left;
    color: #fff;
    display: block;
}

.top-bar-item img {
    float: left;
    width: 50px;
    height: 50px;
} 

.top-bar {
    background-color: transparent;
    padding: 0 100px;
    height: 75px;
}

.right {
    float:left;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 16px;
    text-decoration: underline;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #e7173e;
}

.header a {
    padding: 10px;
}