input[type="text"], 
input[type="email"],
.textbox{
	padding: 10px 15px;
	border: 1px solid $secondary-3;
	border-radius: 3px;
	outline: none;
	font-family: $font-secondary;
	font-size: 16px;
	font-weight: 700;
	display: block;

	&:focus{
		border: 1px solid darken($secondary-3, 10%);
	}
}

.form-group{
	padding: 10px 0px;

	input[type="text"], 
	input[type="email"],
	.textbox{
		margin-top: 5px;
	}
}