input[type="text"], 
input[type="email"],
input[type="search"],
input[type="datetime"],
input[type="number"],
input[type="password"],
select,
textarea,
.textbox{
	padding: 0px 15px;
	border: 1px solid $secondary-3;
	border-radius: 3px;
	outline: none;
	font-family: $font-secondary;
	font-size: 16px;
	font-weight: 700;
	display: block;
	background-color: white;

	&:focus{
		border: 1px solid darken($secondary-3, 10%);
	}
}

textarea{
	padding: 10px 15px;
}

input[type="search"]{
	border: none;
	outline: none;
	float: left;

	&:active, &:focus{
		border: none;
	}
}

.form-group{
	padding: 10px 0px;

	input[type="text"], 
	input[type="email"],
	.textbox{
		margin-top: 5px;
	}
}