$font-primary: 'Yantramanav';
$font-secondary: 'Work Sans';

$primary-1: #e7173e;

$secondary-1: #333;
$secondary-2: #555;
$secondary-3: #dadada;
$secondary-4: #efefef;
$secondary-5: #8A8A8A;

$facebook-color: #3b5998;

$body-color: #F5F5F5;
$body-font-color: #222;
