.box{
	@include box;
	margin-top: 25px;

	&:hover{
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
	}

	&-image{
		height: 350px;
		max-width: none;

		&-holder{	
			overflow: hidden;
			height: 350px;
		}

		&-overlay{
			position: absolute;
			width: 100%;
			text-align: center;

			background: rgba(190, 0, 0, 0.7);
			height: 350px;

			transition: opacity .5s ease;
			opacity: 0;

			&:hover{
				opacity: 1;
			}

			&-title{
				font-size: 21px;
				color: white;
				font-weight: 900;
				text-transform: uppercase;
				margin-top: 160px;
			}
		}
	}

	&-details{
		padding: 25px 20px;
	}

	&-title{
		font-weight: 500;
		color: $secondary-1;
		font-size: 18px;
	}
}

.box-small{
	@extend .box;
	padding: 0;

	.box-image, 
	.box-image-overlay, 
	.box-image-holder, 
	.box-image-overlay-title {
		height: 150px;
	}

	.box-details{
		padding: 15px 10px;
	}

	.box-title{
		font-size: 14px;
	}

	.box-image{
		width: 100%;
		height: auto;
	}

	.box-image-overlay-title {
		margin-top: 65px;
		font-size: 18px;
	}
}