label{
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 5px;
}

.form-group{
	padding-top: 5px;

	input[type="text"], 
	input[type="email"],
	.textbox{
		margin-top: 5px;
	}
}

.form-inline{
	display: inline;
}

.file-upload-holder{
	position: relative;
	padding: 0.975rem 0;
}