.header{
	@include clearfix;
	background: white;
	z-index: 5;
	border-bottom: 1px solid $secondary-3;
	width: 100%;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	padding: 0 1rem;

	&-lander{
		background-color: transparent; 
		border: none;

		.header-list-item-link{
			color: white;
		}
		
	}

	&-logo{
		margin: 0.5rem;
		float: left;
	}

	nav{
		margin: 0.5rem 1rem;
		float: right;
	}

	
	&-list-item{
		float: left;
		margin: 0;
		margin-left: 35px;
		box-sizing: border-box;
		line-height: 110px;
		padding: 0;
	}

	&-list-item a{
		padding: 15px 0px;
	}

	&-list-item-link{
		color: $secondary-1;
		line-height: 90px;
	}

	&-logo-text, &-logo-image{
		float: left;
	}

	&-logo-text{
		line-height: 110px;
		margin-left: 15px;
	}

	&-logo-text, &-logo-text a{
		font-size: 38px;
		color: $secondary-1;
		font-family: $font-primary;
		font-weight: 700;
		text-decoration: none;
	}

	&-logo-image{
		height: 4.7rem;
		width: 4.7rem;
		padding: 1rem 0;
		@media screen and(max-width: 800px)
		{
			padding: 0;
		}
	}
}