.tab{
	padding: 12px 25px;
	color: $secondary-2;
	border-left: 1px solid $secondary-3;
	border-right: 1px solid $secondary-3;
	border-top: 3px solid $secondary-3;
	border-bottom: 1px solid $secondary-3;
	background: white;
	text-decoration: none;
	margin: 0;
	margin-right: 3px;
	font-weight: 700;

	&:hover{
		border-top: 3px solid $primary-1;
	}

	&-active{
		border-top: 3px solid $primary-1;
		border-bottom: 1px solid white;
		color: $primary-1;
	}

	&-holder{
		position: relative;
		z-index: 3;
		
	}

	&-content{
		margin-top: -1px;
		background: white;
	}
}