@import url(https://fonts.googleapis.com/css?family=Work+Sans|Yantramanav);body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/assets/graphics/lander_background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/graphics/lander_background.jpg");
}

.call_to_action_wrapper {
  text-align: center;
  top: 30%;
  position: relative;
  width: 60%;
  left: 20%;
}

.header {
  float: left;
  color: #fff;
  display: block;
}

.header img {
  float: left;
  width: 50px;
  height: 50px;
}

.top-bar {
  background-color: transparent;
  padding: 0 100px;
  height: 75px;
}

.right {
  float: left;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: underline;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
  color: #e7173e;
}

.header a {
  padding: 10px;
}

h1,
h2 {
  color: white;
  padding: 0;
  font-family: primary;
}

h2 {
  font-size: 1.2rem;
}

body {
  font-family: secondary;
}

.ontdekken {
  background-color: #e7173e;
  border: 3px solid #e7173e;
}

.ontdekken:hover {
  border: 3px solid #fff;
  background-color: #e7173e;
}

.aanbieden {
  border: 3px solid #fff;
  background-color: transparent;
}

.aanbieden:hover {
  border: 3px solid #e7173e;
  background-color: transparent;
}

.ontdekken,
.aanbieden {
  position: relative;
}

